<style>
footer {
  padding-top: 30pt;
  font-size: 12px;
  text-align: center;
}
</style>

<footer>
  <p style="color: #afa79b;">
  built with <font color="red">❤</font> by <a href="https://twitter.com/0xduraki">@0xduraki</a>,
    web design inspired by <a style="color:black;opacity:0.6" href="https://oilshell.org">oilsh</a></p>
</footer>
